<link href="css/carousel.css" rel="stylesheet">
<link href="css/see.css" rel="stylesheet">
<link href="css/discover.css" rel="stylesheet">
<div ng-include="'views/nav.html'"></div>
<div class="scrollable">
	<div class="scrollable-content view-wrapper">
		<!--content -->
		<div class="discover-content bgColor-1">
			<div>
				<div class="header">
					<span><i class="fa fa-star-o fa-lg"></i></span>
					<span>Interesting Fact of The Day</span>
				</div>
				<div class="zinc bgColor-2">Zinc is used abundantly in the body and is especially important to immunity and hormaone regulation</div>
			</div>
			<div>
				<div class="header">
					<span class="fa-stack fa-ng">

                        <i class="fa fa-circle fa-stack-2x"></i>

                        <i class="fa fa-flag fa-stack-1x fa-twitter" style="color:#ad4290"></i>

                    </span>
					<span>HH Sheikh Mohammad</span>
				</div>
                <div class="main">
                    <div class="body">
                        <span class="quotationMarks fontColor-2"></span>
                        <div class="stormHuda fontColor-2">
                            I invite all in the Arab and international media to focus on this tragedy <br />and by doing so help the aiding of these refugees #Storm_Huda
                            <span class="quotationMarks quotationMarks_2"></span>
                        </div>
                    </div>
                    <div class="sheikhmohamm">
                        <table style="width:100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>Follow Sheikh Mohammad</td>
                                <td>sheikhmohamm.ae</td>
                            </tr>
                        </table>
                    </div>
                </div>
			</div>
			<div>
				<div class="header">
					<span><img src="images/discover/toolMark.png" width="30"></span>
					<span>Dubai Municipality Projects</span>
				</div>


				<div class="list-group nomargin">
                    <div class="btn-group justified" ng-controller="DiscoverController">
                        <carousel interval="myInterval" classbuttonbg="fontColor-2" classarrow="colorwhite">
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" style="margin: auto;">
                                <div class="carousel-caption textaligncenter">
                                    <div class="div-caption-title">
                                        <p class="caption-title">{{title}}</p>
                                    </div>
                                    <p class="caption-content">{{slide.text}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>

				</div>
			</div>
			<div>
				<div class="header">
					<span><img src="images/discover/dm_home_discover_03.png" width="20"></span>
					<span>New To Dubai</span>
				</div>
				<div class="newToDubaiList">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<img src="images/discover/dm_home_discover_07.png" width="100%">
							</td>
							<td class="content">
								<div>Tribeca an NYC-inspired farm-to-table concept to open on JBR</div>
								<div class="triangle">
									<img src="images/discover/dm_home_discover_10.png" width="60%" /> </div>
							</td>
						</tr>
						<tr>
							<td class="content">
								<div>CATCH confirms Dubai Launch - and more new restaurants for 2015</div>
								<div class="triangle">
									<img src="images/discover/dm_home_discover_10.png" width="60%" /> </div>
							</td>
							<td>
								<img src="images/discover/dm_home_discover_14.png" width="100%">
							</td>
						</tr>
						<tr>
							<td>
								<img src="images/discover/dm_home_discover_15.png" width="100%">
							</td>
							<td class="content">
								<div>Sugar Moo in Dubai. New online bakery,Sugua Moo,delivers right to your door</div>
								<div class="triangle">
									<img src="images/discover/dm_home_discover_10.png" width="60%" /> </div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="loadMoreImg">
									<span class="fa-stack fa-lg">

                                        <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-plus fa-stack-1x colorwhite"></i>

                                    </span>
								</div>
								<div class="loadMore">Load More</div>
							</td>
						</tr>
					</table>


				</div>
			</div>
			<div class="WedtherBody bgColor-2">
				<div class="header bgColor-1">
					<span><img src="images/discover/dm_home_discover_19.png" width="30" height="30"></span>
					<span>Plan Your Day</span>
				</div>

				<div>
					<div class="sunImg"></div>
					<div class="temperature">
						<div class="t">26&#176;</div>
						<div style="margin-top:-30px;">MOSTLY SUNNY</div>
					</div>
				</div>

				<div class="temperatureDiv">
					<div>
						<div class="item">
							<span>Mon</span>
							<span class="spanImg"><img class="img" src="images/discover/dm_home_discover_27.png" /></span>
							<span class="fontSize">20C</span>
							<span class="fontSize">13C</span>
						</div>
						<div class="item">
							<span>TUE</span>
							<span class="spanImg"><img class="img" src="images/discover/dm_home_discover_33.png" /></span>
							<span class="fontSize">22C</span>
							<span class="fontSize">13C</span>
						</div>
						<div class="item">
							<span>WED</span>
							<span class="spanImg"><img class="img" src="images/discover/dm_home_discover_30.png" /></span>
							<span class="fontSize">24C</span>
							<span class="fontSize">13C</span>
						</div>
						<div class="item">
							<span>THU</span>
							<span class="spanImg"><img class="img" src="images/discover/dm_home_discover_30.png" /></span>
							<span class="fontSize">21C</span>
							<span class="fontSize">13C</span>
						</div>
						<div class="item">
							<span>FRI</span>
							<span class="spanImg"><img class="img" src="images/discover/dm_home_discover_27.png" /></span>
							<span class="fontSize">20C</span>
							<span class="fontSize">13C</span>
						</div>
					</div>
				</div>

				<div class="temperatureDetail">
					<div class="item">
						<span class="one">Weather</span>
						<span class="one">Sunrise/Sunset</span>
						<span class="one">Humidity Level</span>
						<span class="one">Tide Level</span>
						<span class="one">Warnings</span>
						<span class="one">Best for</span>
					</div>
					<div class="item">
						<span>32c/18c</span>
						<span>6.30am/7.00pm</span>
						<span>87%</span>
						<span>1m/0.5m</span>
						<span>Jellyfish</span>
						<span>Running,staying indoors</span>
					</div>
				</div>




				<div class="header bgColor-1" style="clear:both;">
                    <span><img src="images/discover/dm_home_discover_39.png" style="margin-right: 10px;margin-top: -5px;" width="20"></span>
					<span>Emergency Phone Numbers</span>
				</div>

				<div>
					<table class="emergencyItemTabel" cellpadding="0" cellspacing="0">
						<tr>
							<td>
                                <span class="spanImg"><img class="img1" src="images/discover/dm_home_discover_43.png"/></span>
								<span>FIRE BRIGADE</span>
							</td>
							<td>
                                <span class="spanImg"><img class="img2" src="images/discover/dm_home_discover_46.png" /></span>
								<span>POLICE</span>
							</td>
							<td>
                                <span class="spanImg"><img class="img2" src="images/discover/dm_home_discover_49.png" /></span>
								<span>AMBULANCE</span>
							</td>   
							<td style="border-right:none;">
                                <span class="spanImg"><img class="img2 Image311" src="images/discover/dm_home_discover_52.png" /></span>
								<span>SERVICE</span>
							</td>
						</tr>
					</table>
				</div>

				<div class="bgColor-1" style="height:65px; clear:both"></div>
			</div>
		</div>




	</div>
</div>