<link href="css/service2.css" rel="stylesheet">

<div class="scrollable Service2" ng-controller="Service1Controller">
	<div class="scrollable-content view-wrapper">
		<div class="section-header">
			<span>{{selectedPestType}}</span>
			<div class="btn-group pull-right">
				<a ui-turn-on='myDropdown' class='btn'>
					<i class="pull-right fa ico-arrow-down myDropDownList"></i>
				</a>
				<ul class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown')" ui-outer-click-if="Ui.active('myDropdown')" role="menu" ui-show="myDropdown" ui-state="myDropdown" ui-turn-off="myDropdown">

					<li>
						<a ng-click="selectPestType('Medical Fitness Certificate')">Medical Fitness Certificate</a>
					</li>
					<li>
						<a ng-click="selectPestType('Free of Communicable Disease Certificate')">Free of Communicable Disease Certificate</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="credit-card-group">
			<div class="credit-card-item">
				<input type="text" class="TxtAppointment" placeholder="Appointment Date" />
			</div>

			<div class="credit-card-item credit-card-item-border-Last">
				<input type="datetime" class="TxtAppointment" placeholder="Appointment Time" />
			</div>
		</div>
		

		<div class="credit-card-group ListAndMapViewContent">
			<div class="pull-left">
				Clinic Location
			</div>			
			<div class="SwichContent">
				<a class="SwichLink SwichLink-left SwichLinkActive" id="ListLink" onclick="SwichView('List');">List</a>
				<a id="MapLink" class="SwichLink SwichLink-right" onclick="SwichView('Map');">Map</a>
			</div>
		</div>
		<div class="CleanFloat"></div>

		<div class="credit-card-group ListView">
			<div class="credit-card-item CleanSelected">
				DM Clinic - AI Rigga <i class="pull-right ico-selected-blue"></i>
			</div>
			<div class="credit-card-item CleanSelected">
				DM Clinic - AI Warsan <i class="pull-right ico-selected-blue"></i>
			</div>
			<div class="credit-card-item" style="border: 0;">
				DM Clinic - AI Flash <i class="pull-right ico-selected-blue"></i>
			</div>
		</div>

		<div class="credit-card-group MapView" style="display: none;">
			<img src="images/locationMap.png" />
		</div>

		<div class="credit-card-group Contract">
			<div class="Title">
				DM Clinic -AI Rigga
			</div>

			<div>
				<label> Phone Number:</label> +971 4 223 2389
			</div>
			<div>
				<label>Opening Hours:</label> 07:30 - 14: 30
			</div>

			<div style="margin-top: 20px;"></div>

			<div class="Title">
				DM Clinic -AI Warsan
			</div>

			<div>
				<label> Phone Number:</label> +971 4 223 2389
			</div>
			<div>
				<label>Opening Hours:</label> 07:30 - 14: 30
			</div>
		</div>

		<div style="margin-top: 40px;margin-bottom: 40px;">
			<a href="#/payment">
				<button class="NextBtn">Next</button>
			</a>
		</div>

	</div>

</div>

<script type="text/javascript">
	function SwichView(type) {
		if (type == "List") {
			$(".MapView").hide();
			$(".ListView").show();
			$("#MapLink").removeClass("SwichLinkActive");
			$("#ListLink").addClass("SwichLinkActive");

		} else {

			$(".ListView").hide();
			$(".MapView").show();
			$("#ListLink").removeClass("SwichLinkActive");
			$("#MapLink").addClass("SwichLinkActive");
		}
	}

	$(".credit-card-item").on("click", function() {
		$(this).toggleClass("CleanSelected");
	});
</script>