<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/search">Keyword Search<i class="fa ico-search-black"></i></a>
      <a class="list-group-item" href="#/me">Me<i class="fa ico-dashboard-black"></i></a>
      <a class="list-group-item" href="#/favorites">My Favorites<i class="fa ico-heart-black"></i></a>
      <a class="list-group-item" href="#/document">My Documents<i class="fa ico-documents-black"></i></a>
      <a class="list-group-item" href="#/accounts">My Accounts<i class="fa ico-user-black"></i></a>
      <a class="list-group-item" href="#/see">See<i class="fa ico-eye-black"></i></a>
      <a class="list-group-item" href="#/discover">Discover<i class="fa ico-light-black"></i></a>
      <a class="list-group-item" href="#/business">Business<i class="fa ico-business-black"></i></a>
      <a class="list-group-item" href="#/services">All Services<i class="fa ico-open-book"></i></a>
      <a class="list-group-item" href="#/tour">Tour the App<i class="fa ico-glassware"></i></a>
      <a class="list-group-item" href="#/about">About DM<i class="fa ico-about-dm"></i></a>
      <a class="list-group-item" href="#/contact">Contact Us<i class="fa ico-contact-us-black"></i></a>
    </div>
  </div>
</div>
