<style type="text/css">
    .navbar{
        background: #e84343;
    }

    .sidebar-left, .sidebar-right{
        background: #e84343;
    }

    .sidebar-right a.list-group-item{
        color:#000;
    }
    .view-wrapper{
        background:#fff;
        min-height: -webkit-calc(100%);
        min-height: -moz-calc(100%);
        min-height: calc(100%);
    }

    .section-header{
        height: 65px;
        line-height: 65px;
        text-align: left;
        font-size: 18px;
        color: #999999;
        padding-left: 15px;
        border-bottom: 1px solid #000;
    }
	.pnpBody{
		font-family: Helvetica;
		background-color:white;
		height: 100%;
	}
	.pnpBody button{
		padding: 10px 20px 10px 20px;
		-moz-border-radius: 8px; 
	    -webkit-border-radius: 8px; 
	    border-radius:8px; 
	}
	
	.pnpBody .width100Per{
		width: 100%;
	}
	
	.pnpBody .marginBottom10{
		margin-bottom: 10px;
	}

    .pnpBody .colorWhite {
        color: white;
    }
	
    .pnpBody .marginBottom20{
		margin-bottom: 20px;
	}
	
	.pnpBody .pnpHeader{
		padding-left: 10px;
		padding-right: 10px;
		clear: both;
		height: 43px;
		line-height: 43px;
		background-color: #0faab6;
	}
	.pnpBody .pnpHeader div.one{
		width: 20%;
		float:left;
	}
	.pnpBody .pnpHeader div.two{
		width: 60%;
		float:left;
		text-align: center;
		font-size: 18px;
		color: white;
	}
	.pnpBody .pnpHeader div.three{
		width: 20%;
		float: left;
		text-align: right;
	}
	
	.pnpBody .content{
		clear: both;
		padding: 20px;
		font-weight:bold;
		height: 200px;
	}

	
	.pnpBody .content .processed{
		color: #ff8f71;
		font-size: 21px;
		padding-top: 30px;
	}
	
	.pnpBody .content .fields{
		color: #999999;
		padding-top: 30px;
	}
	
	.pnpBody .content .errField{
		color: red;
		font-size: 18px;
		padding-left: 25px;
		margin-top: 10px;
	}
	
	.pnpBody .content .errField span{
		display: block;
	}
	
	.pnpBody .divBtn {
		color: white;
        padding-top:200px;
	}
	.pnpBody .divBtn button {
		border: none;
		text-align: left;
		padding-left: 15%;
		color: white;
		font-size: 14px;
	}
	
	.pnpBody .divBtn button.back {
		background-color: #ff8f71;
	}
	
	
	.pnpBody .divBtn button.cancel {
		background-color: #b8b8b8;
	}
</style>

<div class="pnpBody">
	
	<div class="content" >
		<div class="processed marginBottom20">Your application can not be <br>processed.</div>
		<div class="fields">View these fields in the red:</div>
		<div class="errField">
			<span>1.xxxxxxx.</span>
			<span>2.xxxxxxxxx.</span>
		</div>
	</div>
	
	<div class="divBtn">
		<div><a href="#/paymentFailed"><button  class="width100Per marginBottom10 back">Back</button></a></div>
		<div><a href="#"><button  class="width100Per cancel">Cancel</button></a></div>
	</div>
</div>
















































































