<link href="css/service1.css" rel="stylesheet">

<div class="scrollable" ng-controller="service1Controller">
    <div class="scrollable-content view-wrapper">
        <div>
            <div class="s-dropdown">
                <div class="text">
                    Medical Fitness Certificate (XT)
                    <i class="fa ico-arrow-down pull-right"></i>
                </div>
            </div>
            <div class="s-line"></div>
            <div class="s-img">

                <img src="images/food_deom1.png" class="" image-round />
                <img src="images/icons/camera.png" class="s-camera" />

            </div>
            <div class="s-descrption"> Description </div>
            <div class="s-map">
            <img src="images/map.png" />
                <button class="btn btn-current" >Current Location</button>
            </div>
            <div class="s-submit">
                <a class="btn form-control btn-submit"  href="#/paymentFailed">Submit</a>
            </div>
        </div>
    </div>
</div>