<div class="metro-nav">
    <div class="metro-nav-block nav-deep-red">
        <a data-original-title="" href="#/">
            <i class="fa fa-dm-apps"></i>
            <div class="status">DM Apps</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-yellow">
        <a data-original-title="" href="#/services">
            <i class="fa fa-services"></i>
            <div class="status">DM Services</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-blue">
        <a data-original-title="" href="#/see">
            <i class="fa fa-see"></i>
            <div class="status">See</div>
        </a>
    </div>
    <div class="metro-nav-block nav-medium-violet-red">
        <a data-original-title="" href="#/discover">
            <i class="fa fa-discover"></i>
            <div class="status">Discover</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-blue">
        <a data-original-title="" href="#/business">
            <i class="fa fa-business"></i>
            <div class="status">Business</div>
        </a>
    </div>
     <div class="metro-nav-block nav-light-green">
        <a data-original-title="" href="#/me">
            <i class="fa dm-dashboard"></i>
            <div class="status">Me</div>
        </a>
    </div>    
</div>