
/* Stylesheet content from css/see.css in folder common */
/* Stylesheet content from css/see.css in folder common */


.view-wrapper{
	margin-top:28px;
	background:#fff;
}

.navbar{
	background: #0f85b6;
}

.sidebar-left, .sidebar-right{
	background: #0f85b6;
}

.sidebar-right a.list-group-item{
	color:#000;
}

.searchbox {
	border: 0;
	text-align: center;
	height: 89px;
	font-weight: 700;
	font-size: 15px;
    font-family:Helvetica;
}

.nomargin {
	margin: 0;
}

.searchdivleft {
	width: 95%;
}

.searchdivright {
	padding-right: 24px;
	min-height: 54px;
	min-width: 81px;
}

.searchdivright img {
	height: 54px;
	width: 57px;
}

.widthpercent50 {
	width: 50%;
}

.widthpercent100 {
	width: 100%;
}

.sizepercent100 {
	height:expression(this.width);
	width: 100%;
}

.seeshare {
	background-color: #0f85b6;
	height: 151px;
	font-weight: 700;
	font-size: 30px;
	padding-top: 40px;
	margin-bottom: 60px;
	text-align: center;
}

.seehead {
	background-color: #0f85b6;
	height: 78px;
	line-height: 78px;
	text-align: center;
	color: #FFF;
	font-weight: 700;
	font-size: 15px;
    font-family:Helvetica;
	margin: 0;
}

.seeloadmore {
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	margin-top:-29px;
	color: #000;
	background-color:#FFF;
    font-family:Helvetica;
}


.colorblue {
	color: #0f85b6;
}

.colorwhite {
	color: #FFF;
}

.fontsie25{
	font-size:25px;
	color:#cccccc;
}

.fontsie26{
	font-size:25px;
	color:black;
}


.carousel-caption {
  position:inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  padding-left:35px;
  padding-right:35px;
  color:#000;
  background: #ffffff;
}


.div-caption-title{
	margin-top:-40px;
	background: #ffffff;
	padding:6px;
}

.caption-title{
	font-weight: 800;
	font-size: 18px;
}

.caption-date{
	font-weight: 800;
	font-size: 13px;
	padding-bottom:4px;
}

.caption-content{
	font-size: 12px;
}

.paddingbottom19{
	padding-bottom:19px;
}

.textaligncenter{
		text-align: center;
}

.cursorpointer{
	cursor: pointer;
}

.active{
	color:red;
}

.seecontent{
	position:absolute;
	height:100%;
	width: 50%;
	padding-top: 27px; 
	padding-left: 24px; 
	background: url('images/seebg.png') no-repeat; 
	background-size: 100% 100%;
	font-size: 15px;
	font-weight:700;
	overflow:hidden;
	font-family:Helvetica;
}


