<link href="css/see.css" rel="stylesheet">
<link href="css/business.css" rel="stylesheet">

<link href="css/carousel.css" rel="stylesheet">
<div ng-include="'views/nav.html'" ></div>
<div class="scrollable">  
	<div class="scrollable-content"> 
		<div class="business-body" ng-controller="BusinessController">
<!-- 			<div class="input-append">
				<input placeholder="What's your jumla? I am a..." class="search-box input-lg" tabindex="1" style=" background-color: transparent; border:none">
				<span class="add-on"><i class="icon-search"></i></span>
			</div> -->
			<div class="div-header">
				<i class="icon-vector"></i> What's Happening Around Town
			</div>
			<div>
				<carousel interval="myInterval" classbuttonbg="colorgreen" classarrow="colorwhite"> 
					<slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin: auto;">
						<div class="carousel-caption textaligncenter">
							<div class="div-caption-title">
								<p class="caption-title">Gulfood 2015</p>
							</div>
							<p class="caption-date">Feb 6 - 30</p>
							<p class="caption-content">{{slide.text}}</p>
						</div>
					</slide> 
				</carousel>
			</div>
			<div class="div-header">
				<i class="icon-news"></i> Business News
			</div>
			<div>
                <table class="business-table" id="ArticleContent">
                    <tr>
                        <td><img src="images/business-1.png" class="width-100"> </td>
                        <td class="td-text">
                            Hundreds of Dubai food transport vehicles fined in inspection drive.
                            <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-text">
                            Dubai Sets New Standard for Exporters of Food.
                            <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div>
                        </td>
                        <td><img src="images/business-2.png" class="width-100"> </td>
                    </tr>
                    <tr>
                        <td><img src="images/business-3.png" class="width-100"> </td>
                        <td class="td-text">
                            India Tops The List of Dubai's Food Import Partners.
                            <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div>
                        </td>
                    </tr>

                </table>
                
			    <table class="business-table">
			        
                    <tr>
                        <td colspan="2" class="text-align"><i class="icon-more" onclick="GetMoreArticle('ArticleContent');"></i> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-align font-18 padding-bottom-5">Load More</td>
                    </tr>
			    </table>
			</div>

			<div class="div-header">
				<i class="icon-key"></i> Just Opened in Dubai
			</div>
			<div>
				<carousel interval="myInterval" classbuttonbg="colorgreen" classarrow="colorwhite"> 
					<slide ng-repeat="slide in slides2" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin: auto;">
						<div class="carousel-caption textaligncenter">
							<div class="div-caption-title">
								<p class="caption-title">AI Islami Foods</p>
							</div>
							<p class="caption-content">{{slide.text}}</p>
						</div>
					</slide> 
				</carousel>
			</div>
			<div class="div-header">
				<i class="icon-balance"></i> International Business News
			</div>

			<div>
			    <table class="business-table" id="BusinessNewsContent">
			        <tr>
			            <td><img src="images/business-4.png" class="width-100"> </td>
			            <td class="td-text">Food companies that made the Global 100 sustainability index.
			                <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div></td>
			        </tr>

			        <tr>
			            <td class="td-text">Popularity of organic food, is fast food on its way out.
			                <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div></td>
			            <td><img src="images/business-5.png" class="width-100"> </td>
			        </tr>

			        <tr>
			            <td><img src="images/business-6.png" class="width-100"> </td>
			            <td class="td-text">Drink purified water without the added sodium.
			                <div class="div-rectangle"><i class="icon-rectangle float-right"></i> </div></td>
			        </tr>
			    </table>

			    <table class="business-table">
                    <tr>
                        <td colspan="2" class="text-align"><i class="icon-more" onclick="GetMoreArticle('BusinessNewsContent');"></i> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-align font-18 padding-bottom-5">Load More</td>
                    </tr>
                </table>
            </div>
			<div class="div-contain">
				<img src="images/business-7.png" class="width-100">
				<i class="icon-user2"></i> 
				<table class="width-100">
					<tr>
						<td class="td-chef-left"><h1>#My <br>Dubai</h1></td>
						<td class="td-chef-right"><h4>James White <br>British<br>33 Years Old<br>12 Years in Bubai <br>Head Chef at Cut</h4></td>
					</tr>
				</table>
			</div>
				<table class="business-table">
					<tr>
						<td colspan="2" class="text-align"><i class="icon-more2"></i> </td>
					</tr>
					<tr style="background-color:#fff">
						<td colspan="2" class="text-align font-18 padding-bottom-10">Read More</td>
					</tr>
				</table>
			<div class="div-header-pink">
				<i class="icon-bulb"></i> Smart Tools
			</div>
			<div class="div-contain-pink">
				<table class="business-table">
					<tr>
						<td style="padding:20px;"><img src="images/icons/icon-code.png" class="width-100"> </td>
						<td class="td-text-pink">Food Inspection Colour Card System.
							<div class="div-rectangle"><i class="icon-rectangle-white float-right"></i> </div></td>
					</tr>
					<tr>
						<td class="td-left">
							<i class="icon-scan"></i>
							<h4>Barcode Scan</h4>
							<h5>Registering food products? Scan item's baroode to check</h5>
							<i class="icon-rectangle-white rectangle-white"></i>
						 </td>
						<td class="td-right">
							<i class="icon-man"></i>
							<h4>Barcode Scan</h4>
							<h5>Search for certified contractors and consultants in Dubai</h5>
							<i class="icon-rectangle-white rectangle-white"></i>
						 </td>
					</tr>
					
				</table>
			</div>
		</div>  
	</div>
</div>
<div id="Toggle"></div>
<script type="text/javascript">
    function GetMoreArticle(contentId) {
           var c1 = $("#"+contentId+" tbody tr:eq(0)").html();
           var c2 = $("#"+contentId+" tbody tr:eq(1)").html();
            var len=$("#"+contentId+" tr").length;
            if ((len / 3) % 2 > 0) {
                $("#" + contentId).append("<tr>" + c2 + "</tr>").append("<tr>" + c1 + "</tr>").append("<tr>" + c2 + "</tr>");
            } else {   
                $("#" + contentId).append("<tr>" + c1 + "</tr>").append("<tr>" + c2 + "</tr>").append("<tr>" + c1 + "</tr>");
            }
        }
</script>