<link href="css/me.css" rel="stylesheet">

<div ng-include="'views/nav.html'"></div>
<div class="scrollable">
    <div class="scrollable-content view-wrapper">
        <div class="div-me">
            <div class="title">
                <table>
                    <tr>
                        <td class="display">Business Name</td>
                        <td class="collape"><!--<span class="fa fa-angle-down"> </span>--><img alt="" src="images/icons/fa-angle-down.png" class="app-img-nav"></td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <table>
                    <tr>
                        <td class="text-left"><!--<span class="fa fa-filter"> </span>--><img alt="" src="images/icons/fa-filter.png" class="app-img"></td>
                        <td class="text-right"><!--<span class="fa fa-search"> </span>--><img alt="" src="images/icons/fa-search.png" class="app-img-nav"></td>
                    </tr>
                </table>
            </div>

            <ul class="list">
                <li class="header">
                    16/01/15
                </li>
                <li class="item">
                    <table>
                        <tr>
                            <td class="divider">
                                <a href="#/me/detail"><b class="item-title">ESPD-2015-1002100</b></a>
                            </td>
                            <td class="divider" rowspan="2">
                                <table class="text-right action">
                                    <tr>
                                        <td>
                                            <!--<i class="fa fa-rotate-left"> </i>--><img alt="" src="images/icons/fa-rotate-left.png" class="app-img">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="app-img-font">PENDING</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="item-title-bottom">
                                Food Consignment Import and Export
                                Request
                                    </span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="item">
                    <table>
                        <tr>
                            <td>
                                <a href="#/me/detail"><b class="item-title">ESPD-2015-1002102</b></a>
                            </td>
                            <td rowspan="2">
                                <table class="text-right action">
                                    <tr>
                                        <td>
                                            <!--<i class="fa fa-check"> </i>--><img alt="" src="images/icons/fa-check.png" class="app-img">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="app-img-font">COMPLETE</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="item-title-bottom">
                                Food Consignment Import and Export
                                Request
                                    </span>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <ul class="list">
                <li class="header">
                    16/01/15
                </li>
                <li class="item">
                    <table>
                        <tr>
                            <td class="divider">
                                <a href="#/me/detail"><b class="item-title">ESPD-2015-5001234</b></a>
                            </td>
                            <td class="divider" rowspan="2">
                                <table class="text-right action">
                                    <tr>
                                        <td>
                                            <!--<i class="fa fa-rotate-left"> </i>--><img alt="" src="images/icons/fa-file.png" class="app-img">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="app-img-font-file">PENDING</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="item-title-bottom">
                                Occupational Health Card Group Entry
                                    </span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="item">
                    <table>
                        <tr>
                            <td>
                                <a href="#/me/detail"><b class="item-title">ESPD-2015-1502314</b></a>
                            </td>
                            <td rowspan="2">
                                <table class="text-right action">
                                    <tr>
                                        <td>
                                            <!--<i class="fa fa-check"> </i>--><img alt="" src="images/icons/fa-check.png" class="app-img">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="app-img-font">COMPLETE</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="item-title-bottom">
                                Smoking Area Permit
                                    </span>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'views/nav-bottom.html'"></div>