<link href="css/services.css" rel="stylesheet">
<div ng-include="'views/nav.html'"></div>
<div class="scrollable">
	<div class="scrollable-content view-wrapper">
		<div class="app-box">
			<div>
				<img alt="" src="images/service-catalogs.png" class="app-img">
			</div>
			<div class="app-title">Catalogs</div>
		</div>
		<div class="app-box">
			<div class="app-icon">
				<img alt="" src="images/service-test.png" class="app-img">
			</div>
			<div class="app-title">Testing</div>
		</div>
		<div class="app-box">
			<div>
				<img alt="" src="images/service-requests.png" class="app-img">
			</div>
			<div class="app-title">Service Requests</div>
		</div>
	</div>
</div>