<link href="css/me.css" rel="stylesheet">

<div ng-include="'views/nav.html'"></div>
<div class="scrollable">
    <div class="scrollable-content view-wrapper">
        <div class="div-me">
            <div class="title">
                <table>
                    <tr>
                        <td class="display">Business Name</td>
                        <td class="collape"><!--<span class="fa fa-angle-down"> </span>--><img alt="" src="images/icons/fa-angle-down.png" class="app-img-nav-allow"></td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <table>
                    <tr>
                        <td class="text-left"><!--<span class="fa fa-filter"> </span>--><img alt="" src="images/icons/fa-filter.png" class="app-img-4"></td>
                        <td class="text-right"><!--<span class="fa fa-search"> </span>--><img alt="" src="images/icons/fa-search.png" class="app-img-nav"></td>
                    </tr>
                </table>
            </div>

            <ul class="list">
                <li class="header">
                    16/01/15
                </li>
                <li class="item">
                        <div class="item-left">
                            <a href="#/me/detail"><b class="item-title">ESPD-2015-1002100</b></a>
                             <div class="item-title-bottom">
                                Food Consignment Import and Export
                                Request
                                    </div>
                        </div>
                        <div class="item-right action">
                            <img alt="" src="images/icons/fa-rotate-left.png" class="app-img-0">
                            <div class="app-img-font">PENDING</div>
                        </div>
                </li>
                <li class="item">
                    <div class="item-left">
                    <a href="#/me/detail"><b class="item-title">ESPD-2015-1002102</b></a>
                    <div class="item-title-bottom">
                        Food Consignment Import and Export
                        Request
                    </div>
                </div>
                    <div class="item-right action">
                        <img alt="" src="images/icons/fa-check.png" class="app-img-1">
                        <div class="app-img-font">COMPLETE</div>
                    </div>
                </li>
            </ul>
            <ul class="list">
                <li class="header">
                    16/01/15
                </li>
                <li class="item">
                    <div class="item-left">
                        <a href="#/me/detail"><b class="item-title">ESPD-2015-5001234</b></a>
                        <div class="item-title-bottom">
                            Occupational Health Card Group Entry
                        </div>
                    </div>
                    <div class="item-right action">
                        <img alt="" src="images/icons/fa-file.png" class="app-img-2">
                        <div class="app-img-font-file">PENDING</div>
                    </div>
                </li>
                <li class="item">
                    <div class="item-left">
                        <a href="#/me/detail"><b class="item-title">ESPD-2015-1502314</b></a>
                        <div class="item-title-bottom">
                            Smoking Area Permit
                        </div>
                    </div>
                    <div class="item-right action">
                        <img alt="" src="images/icons/fa-check.png" class="app-img-3">
                        <div class="app-img-font">COMPLETE</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'views/nav-bottom.html'"></div>