<link href="css/detail.css" rel="stylesheet">
<div class="scrollable">
    <div class="scrollable-content view-wrapper">
        <div class="div-detail">
            <div class="detail-title">Food Consignment Import and Export Request</div>
            <div class="list">
                <table>
                    <tr class="header">
                        <th class="thleft">Date</th>
                        <th></th>
                        <th class="thmiddle">Milestone</th>
                        <th class="thright">Status</th>
                    </tr>
                    <tr class="detail-item">
                        <td class="set-date">
                            <div class="set-font">JAN</div>
                            <h3 class="set-font">16</h3>
                            <div class="set-font">2015</div>
                        </td>
                        <td>
                            <div class="score-sec">
                                <span class="number"></span>
                            </div>
                        </td>
                        <td colspan="2">
                            <table>
                                <tr class="divide">
                                    <td>
                                        <span class="set-header">Release</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-rotate-left"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>PENDING</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="set-header">Sampling</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-star-o"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>COMPLETE</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="detail-item">
                        <td class="set-date">
                            <div class="set-font">JAN</div>
                            <h3 class="set-font">09</h3>
                            <div class="set-font">2015</div>
                        </td>
                        <td>
                            <div class="score-seca">
                                <span class="number"></span>
                            </div>
                        </td>
                        <td colspan="3">
                            <table>
                                <tr class="divide">
                                    <td>
                                        <span class="set-header">Release</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-rotate-left"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>SCHEDULED</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="divide">
                                    <td>
                                        <span class="set-header">Inspection</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-check"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>COMPLETE</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="set-header">Consignment</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-check"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>COMPLETE</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="detail-item">
                        <td class="set-date">
                            <div class="set-font">JAN</div>
                            <h3 class="set-font">02</h3>
                            <div class="set-font">2015</div>
                        </td>
                        <td>
                            <div class="score-sec">
                                <span class="number"></span>
                            </div>
                        </td>
                        <td colspan="2">
                            <table>
                                <tr class="divide">
                                    <td>
                                        <span class="set-header">Documents</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-file-o"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>APPROVED</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="set-header">Documents</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-rotate-left"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>SUBMITTED</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="detail-item">
                        <td class="set-date">
                            <div class="set-font">JAN</div>
                            <h3 class="set-font">01</h3>
                            <div class="set-font">2015</div>
                        </td>
                        <td>
                            <div class="score-sec">
                                <span class="number"></span>
                            </div>
                        </td>
                        <td colspan="2">
                            <table>
                                <tr class="divide">
                                    <td>
                                        <span class="set-header">Application</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-rotate-left"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>APPROVED</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="set-header">Application</span>
                                    </td>
                                    <td>
                                        <table class="text-center action">
                                            <tr>
                                                <td>
                                                    <span class="fa fa-rotate-left"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><b>SUBMITTED</b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>