<style type="text/css">
    .navbar{
        background: #e84343;
    }

    .sidebar-left, .sidebar-right{
        background: #e84343;
    }

    .sidebar-right a.list-group-item{
        color:#000;
    }
    .view-wrapper{
        background:#fff;
        min-height: -webkit-calc(100%);
        min-height: -moz-calc(100%);
        min-height: calc(100%);
    }

    .section-header{
        height: 65px;
        line-height: 65px;
        text-align: left;
        font-size: 18px;
        color: #999999;
        padding-left: 15px;
        border-bottom: 1px solid #000;
    }



</style>
<div class="scrollable">
	<div class="scrollable-content view-wrapper">
        <div class="list-group">
            <a href="#/services/service1" class="list-group-item ng-binding ng-scope">
            <i class="fa ico-open-book pull-left fa-3x"></i> Service 1 <i class="fa fa-chevron-right pull-right"></i>
        </a>
            <a href="#/services/service2" class="list-group-item ng-binding ng-scope">
                <i class="fa ico-open-book pull-left fa-3x"></i>Service 2 <i class="fa fa-chevron-right pull-right"></i>
        </a>
        </div>
	</div>
</div>