      <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
        	<div class="nav-block-title">
	          <a href="/" class="btn btn-navbar">
	          	<i class="fa fa-shopping-cart"></i>
				<div class="status">My Cart</div>
	          </a>
	          </div>
	          <div class="nav-block-title">
	          <a href="/" class="btn btn-navbar">
	          	<i class="fa fa-calendar-o"></i>
	          	<div class="status">My Schedule</div>
	          </a>
	      </div>
	      <div class="nav-block-title">
	          <a href="/" class="btn btn-navbar">
	          	<i class="ico-book"></i>
	          	<div class="status">All Services</div>
	          </a>
	      </div>
	      <div class="nav-block-title">
	          <a href="/" class="btn btn-navbar">
	          	<i class="fa fa-ellipsis-h"></i>
	          	<div class="status">More</div>
	          </a>
	      </div>
        </div>
      </div>