<div class="metro-nav">
    <div class="metro-nav-block nav-deep-red">
        <a data-original-title="" href="#/">
            <span class="fa ico-dm-apps"></span>
            <div class="status">DM Apps</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-yellow">
        <a data-original-title="" href="#/services">
            <span class="fa ico-dm-services"></span>
            <div class="status">DM Services</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-blue">
        <a data-original-title="" href="#/see">
            <span class="fa ico-see"></span>
            <div class="status">See</div>
        </a>
    </div>
    <div class="metro-nav-block nav-medium-violet-red">
        <a data-original-title="" href="#/discover">
            <span class="fa ico-discover"></span>
            <div class="status">Discover</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-blue">
        <a data-original-title="" href="#/business">
            <span class="fa ico-business"></span>
            <div class="status">Business</div>
        </a>
    </div>
     <div class="metro-nav-block nav-light-green">
        <a data-original-title="" href="#/me">
            <span class="fa ico-dashboard"></span>
            <div class="status">Me</div>
        </a>
    </div>    
</div>