
<link href="css/see.css" rel="stylesheet">
<div ng-include="'views/nav.html'"></div>
<div class="scrollable">
        <div class="row">
            <div class="col-md-12">Existing Credit Card:</div>
        </div>
        <div class="row">
            <div class="col-md-3">4733-xxxx-xxxx-xxxx-xxx</div>
            <div class="col-md-3">07/18</div>
            <div class="col-md-3"><i class="fa fa-star"></i></div>
            <div class="col-md-3"><input type="checkbox" /></div>
        </div>
</div>
