
/* Stylesheet content from css/me.css in folder common */
.navbar {
    background: #7BB76F;
}

.sidebar-left, .sidebar-right {
    background: #7BB76F;
}

    .sidebar-right a.list-group-item {
        color: #000;
    }

.view-wrapper {
    margin-top: 0px;
    background: #fff;
}

.div-me {
    margin-top: 65px;
    background: #fff !important;
    margin-bottom: 100px;
    font-family: Helvetica !important;
    font-weight: 700;
}

    .div-me .text-left {
        text-align: left;
    }

    .div-me .text-right {
        text-align: right;
    }

    .div-me .text-center {
        text-align: center;
    }

    .div-me .title {
        border-bottom: solid 1px #000;
        padding-left: 1.5rem;
        padding-top: 0.9rem;
        padding-bottom:0.9rem;
        padding-right: 1.5rem;
    }

    .div-me table {
        width: 100%;
    }

        .div-me table td {
            width: 60%;
        }

    .div-me .title .display {
        font-size: 1.5rem;
        text-align: left;
    }

    .div-me .title .collape {
        font-size: 22px;
        text-align: right;
        padding-top: 0px;
    }

    .div-me .toolbar {
        border-bottom: solid 1px #ccc;
        padding-left: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom:0.8rem;
        padding-right: 1.5rem;
        font-size: 24px;
    }

    .div-me .list {
        padding: 0;
        margin: 0;
    }

        .div-me .list li {
            list-style: none;
        }

        .div-me .list .header {
            background: #0BD4EC;
            padding-left: 15px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 15px;
            font-weight: 700;
        }

        .div-me .list .item {
            padding-top:0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            border-bottom: solid 1px #ccc;
        }

            .div-me .list .item .item-title {
                color: #699C5F;
                font-size: 1.4rem;
            }

.div-me .list .item .item-title-bottom {
    font-size: 1.4rem;
}

            .div-me .list .item .action {
                color: #7BB76F;
                font-size: 0.9rem;
            }

                .div-me .list .item .action i {
                    font-size: 24px;
                    padding-right: 10px;
                }

                .div-me .list .item .action td {
                    padding-right: 20px;
                }

.app-img {
    height: 60%;
    padding-right: 10%;
}

.app-img-font {
    padding-right: 10%;
}

.app-img-font-file {
    padding-right: 10%;
    color: red;
}

.app-img-nav {
    height: 60%;
    padding-right: 3%;
}