
/* Stylesheet content from css/paySuccess.css in folder common */

/* Stylesheet content from css/paySuccess.css in folder common */
﻿.navbar {
    background: #e84343;
}

.sidebar-left, .sidebar-right {
    background: #0FAAB6;
}

    .sidebar-right a.list-group-item {
        color: #000;
    }

.view-wrapper {
    margin-top: 0px;
    background: #fff;
}

.btn-pay {
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #ff8f71;
    border-radius: 5px;
}