.navbar {
    background: #7BB76F;
}

.sidebar-left, .sidebar-right {
    background: #7BB76F;
}

    .sidebar-right a.list-group-item {
        color: #000;
    }

.view-wrapper {
    margin-top: 0px;
    background: #fff;
}

.div-me {
    margin-top: 65px;
    background: #fff !important;
    margin-bottom: 100px;
    font-family:Helvetica !important;
    font-weight: 700;
    line-height: normal;
}

    .div-me .text-left {
        text-align: left;
    }

    .div-me .text-right {
        text-align: right;
    }

    .div-me .text-center {
        text-align: center;
    }

    .div-me .title {
        border-bottom: solid 1px #000;
        padding-left: 0.65rem;
        padding-top: 0.65rem;
        padding-bottom:0.65rem;
        padding-right: 0.375rem;
    }

    .div-me table {
        width: 100%;
    }

        .div-me table td {
            width: 60%;
        }

    .div-me .title .display {
        font-size: 0.75rem;
        text-align: left;
    }

    .div-me .title .collape {
        text-align: right;
        padding-top: 0px;
    }

    .div-me .toolbar {
        border-bottom: solid 1px #ccc;
        padding-left: 0.65rem;
        padding-top: 0.65rem;
        padding-bottom:0.65rem;
        padding-right: 0.375rem;
    }

    .div-me .list {
        padding: 0;
        margin: 0;
    }

        .div-me .list li {
            list-style: none;
        }

        .div-me .list .header {
            background: #0BD4EC;
            padding-left: 0.4rem;
            padding-top: 0.266rem;
            padding-bottom: 0.266rem;
            font-size: 0.65rem;
            font-weight: 700;
        }

        .div-me .list .item {
            padding-top:0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.6rem;
            border-bottom: solid 1px #ccc;
            height: 3.275rem;
            display: table;
            width: 100%;
        }

            .div-me .list .item .item-title {
                color: #699C5F;
                font-size: 0.7rem;
            }

.div-me .list .item .item-title-bottom {
    font-size: 0.7rem;
}

            .div-me .list .item .action {
                color: #7BB76F;
                font-size: 0.45rem;
            }

.div-me .list .item .item-left {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    width:calc(100% - 5rem);
    width:-webkit-calc(100% - 4.2rem);
}
.div-me .list .item .item-right {
    width:3.9rem;
   float: right;
    text-align: center;
padding-top:0.5rem;
}

                .div-me .list .item .action i {
                    font-size: 24px;
                    padding-right: 10px;
                }

                .div-me .list .item .action td {
                    padding-right: 20px;
                }

.app-img-0 {
     height: 1.125rem;
 }
.app-img-1 {
      height: 0.875rem;
  }
.app-img-2 {
    height: 0.95rem;
}
.app-img-3 {
    height: 0.875rem;
}

.app-img-4 {
    height: 0.85rem;
}

.app-img-font {
    padding-top: 0.25rem;
}

.app-img-font-file {
    padding-top: 0.25rem;
    color: red;
}



.app-img-nav {
    height: 0.925rem;
    padding-right: 3%;
}

.app-img-nav-allow {
    height: 0.675rem;
    padding-right: 3%;
}
