.navbar{
    background: #e84343;
}

.sidebar-left, .sidebar-right{
    background: #e84343;
}

.sidebar-right a.list-group-item{
    color:#000;
}
.view-wrapper{
    background:#fff;
    min-height: -webkit-calc(100%);
    min-height: -moz-calc(100%);
    min-height: calc(100%);
}

.s-dropdown{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:20px;
    padding-right:20px;
    min-height: 50px;
    border-bottom: 1px solid #000;
}

.s-dropdown .text{
    font-size: 1.5em;
}

.s-dropdown .icon{
    float: right;
}

